
*.mp4
*.jpg
*.pkl
*.png
*.avi
*.h5
TensorBoard/train/
TensorBoard/validation/
__pycache__/
logs/
Models/
Samples/
Backup/
.vs/
FaceRec/FaceRec/Faces_Temp/FR.txt
FaceRec/DBFace/
FaceRec/FaceRec/Faces_Temp/app_pid.txt
FaceRec/FaceRec/Faces_Temp/atomic_pid.txt
