
*.mp4
*.jpg
*.pkl
*.png
*.avi
*.h5
TensorBoard/train/
TensorBoard/validation/
__pycache__/
logs/
Models/
Samples/
Backup/
.vs/
FaceRec/FaceRec/Faces_Temp/
FaceRec/DBFace/atomic_pid.txt
FaceRec/DBFace/model/
FaceRec/DBFace/prj_ncnn/model/
